---
import Layout from "@/layouts/Layout.astro"
import Experiences from "@/components/Experiences.astro"
import Download from "@lucide/astro/icons/download"
---

<Layout title="About | Pabs Dominguez" description="Designer, leader, and maker of things.">
    <section class="mt-6">
    <section class="mt-10 sm:mt-14">
        <h1 class="mt-6 mb-0 text-2xl font-medium">¡Hola!</h1>
        <br>
        <p class="text-stone-700 dark:text-stone-300">I am a design leader passionate about the theory and practice of interface design, psychology and technology. I'm lucky to work in something I have a natural interest on.</p>
        <p class="mt-4 text-stone-700 dark:text-stone-300">With a background in UX/UI design I am a generalist by nature, so I've never specialised in any given subject but rather cultivated my experience in research, interaction and visual design, low and hi-fi prototyping, front-end development or anything that can get my curiosity sparking.</p>
        <p class="mt-4 text-stone-700 dark:text-stone-300">I also lead teams of designers and feel comfortable with the challenges and responsibilities of being a team leader and design mentor.</p>
        <p class="mt-4 text-stone-700 dark:text-stone-300">I currently work at Just Eat as a design manager, leading and coaching a team of designers. I believe that when a team of professionals is diverse and happy it's the most capable to succeed meeting customer needs and business goals.</p>
      </section>
      
      <section class="mt-10 sm:mt-14">
        <a href="" class="inline-flex items-center gap-2 text-sm underline underline-offset-4 text-muted-foreground hover:text-brand">
          <Download class="size-4" />Download CV (PDF, 1.5 MB)
        </a>
      </section>
      <section class="mt-10 sm:mt-14">
        <h3 class="mb-4 font-medium">What I do now</h3>
        <p class="text-stone-700 dark:text-stone-300">During the day I lead a team of designers at <a href="https://www.justeattakeaway.com/" class="underline underline-offset-4 hover:text-brand" >Just Eat</a>, a lead­ing global on-demand delivery company. Working closely with other crossfunctional leaders in Product and Engineering, defining strategy and focus for our teams. As a Design Lead I like to get into the trenches and work on solving problems, wether its going into the detail or organising ideation and vision design sprints.</p>
        <p class="mt-4 text-stone-700 dark:text-stone-300">Outside of work I like to stay curious (now mostly tinkering new things with Claude) and planning our next trip with my wife and daughter. I also spend more time than I should playing <a href="https://magic.wizards.com/en" class="underline underline-offset-4 hover:text-brand">Magic the Gathering</a>.</p>
      </section>
      <section class="mt-10 sm:mt-14">
        <h3 class="mb-4 font-medium">Experience</h3>
        
        <Experiences /> 
      </section>
    </section>
</Layout>
