---
import Layout from "@/layouts/Layout.astro"
import Experiences from "@/components/Experiences.astro"
import Download from "@lucide/astro/icons/download"
---

<Layout title="About | Pabs Dominguez" description="Designer, leader, and maker of things.">
    <section class="mt-6">
    <section class="mt-10 sm:mt-14">
        <h3 class="mb-4 font-medium">¡Hola!</h3>
        <p class="text-stone-700 dark:text-stone-300">I am a design leader passionate about the theory and practice of interface design, psychology and technology. I'm lucky to work in something I have a natural interest on.</p>
        <p class="mt-4 text-stone-700 dark:text-stone-300">With a background in UX/UI design I am a generalist by nature, so I've never specialised in any given subject but rather cultivated my experience in research, interaction and visual design, low and hi-fi prototyping, front-end development or anything that can get my curiosity sparking.</p>
        <p class="mt-4 text-stone-700 dark:text-stone-300">I also lead teams of designers and feel comfortable with the challenges and responsibilities of being a team leader and design mentor.</p>
        <p class="mt-4 text-stone-700 dark:text-stone-300">I currently work at Just Eat as a design manager, leading and coaching a team of designers. I believe that when a team of professionals is diverse and happy it's the most capable to succeed meeting customer needs and business goals.</p>
        <p class="mt-4 text-stone-700 dark:text-stone-300">If you want to know more about me, you can check this interview for UX MAD magazine (spanish) from a few years ago.</p>
      </section>
      
      <section class="mt-10 sm:mt-14">
        <a href="" class="inline-flex items-center gap-2 text-sm underline underline-offset-4 text-muted-foreground hover:text-brand">
          <Download class="size-4" />Download CV (PDF, 1.5 MB)
        </a>
      </section>
      <section class="mt-10 sm:mt-14">
        <h3 class="mb-4 font-medium">Experience</h3>
        
        <Experiences /> 
      </section>
    </section>
</Layout>
